@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --primary-light: #60a5fa;
  --primary-dark: #2563eb;
  --black: #0d0d0d;
  --white: #ffffff;
  --gray: #595959;
  --darkgray: #2b3030;
  --graytransparent: #ffffff88;
  --maxwidth: 1500px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
}

@layer base {
  body {
    @apply bg-black text-white;
  }

  main, #nav-container{
    max-width: var(--maxwidth);
    width: 100%;
    margin: auto;
  }
  
  .linegradient {
    background: linear-gradient(
      to right,
      transparent,
      var(--gray),
      transparent
    );
  }

  ::selection {
    @apply bg-primary text-white;
  }

  ::-webkit-scrollbar {
    /* @apply w-2.5; */
    display: none;
  }

  /* ::-webkit-scrollbar-track {
    @apply bg-transparent;
  } */

  /* ::-webkit-scrollbar-thumb {
    @apply bg-darkgray;
  } */

  .edgespacing {
    @apply mx-[8%] my-8 md:my-12;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.brokenclip1 {
  clip-path: polygon(0 0, 100% 0, 100% 31%, 0 70%);
}

.brokenclip2 {
  clip-path: polygon(0 100%, 100% 100%, 100% 31%, 0 70%);
}

.gradientborder {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, var(--black), var(--darkgray))
    1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* .scrollsnapping {
  scroll-snap-align: end;
} */

.btn_shadow_primary,
.btn_shadow_white {
  transition: all 0.2s ease-in-out;
}

.btn_shadow_primary {
  box-shadow: inset -0px 0px 0px var(--primary);
}

.btn_shadow_white {
  box-shadow: inset -0px 0px 0px var(--white);
}

.btn_shadow_primary:hover {
  box-shadow: inset -120px 0px 0px var(--primary);
  color: white;
}

.btn_shadow_white:hover {
  box-shadow: inset -120px 0px 0px var(--white);
  color: var(--black);
}
